/* Part Default */

.label {
    display: block;
    margin-right: 20px;
    margin-bottom: 4px;
    line-height: 1.6;
}

.box {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Part Checkbox default */

.checkBox {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    width: 80px;
    height: 40px;
    background: #c6c6c6;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    cursor: pointer;
}

.checkBox:checked {
    background: #08AEA4;
}

.checkBox::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.checkBox:checked::before {
    left: 40px;
}

/* Part Small Checkbox */

.checkBoxSmall {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    width: 40px;
    height: 20px;
    background: #c6c6c6;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    cursor: pointer;
}

.checkBoxSmall:checked {
    background: #08AEA4;
}

.checkBoxSmall::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.checkBoxSmall:checked::before {
    left: 20px;
}