.imagePopup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 20px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
}

.popupBackground {
    background-color: rgba(0, 0, 0, 0.817);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    cursor: zoom-out;
}

.popupContent {
    background-color: black;
    max-width: 1200px;
    position: relative;
}

.popupContent img {
    display: block;
    max-width: 100%;
    max-height: calc(100vh - 130px);
    margin-left: auto;
    margin-right: auto;
    user-select: none;
}

.popupContent h3 {
    color: white;
    text-align: center;
}